@model projet_dotnet.Models.Book
@{
    ViewData["Title"] = "Create";
}

<body>
    <h1>Insert a new book</h1>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.book_title)
            @Html.TextBoxFor(m => m.book_title)
            </div>
            <div class="form-group">
            @Html.LabelFor(m => m.author)
            @Html.TextBoxFor(m => m.author)
            </div >
        <div class="form-group">
            @Html.LabelFor(m => m.matiere)
            @Html.TextBoxFor(m => m.matiere)
            </div>
           
            <div>
                <input type="submit" name="create-book" value="Save" />
            </div>
    }
</body>



